<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-transaction-heading">Create or edit a Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!transaction.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="transaction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="transaction.amount" required/>
                    <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amount?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amount?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionType">Transaction Type</label>
                    <select class="form-control" name="transactionType" [(ngModel)]="transaction.transactionType" id="field_transactionType"  required>
                        <option value="CREDIT">CREDIT</option>
                        <option value="DEBIT">DEBIT</option>
                    </select>
                    <div [hidden]="!(editForm.controls.transactionType?.dirty && editForm.controls.transactionType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transactionType?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accountId">Account Id</label>
                    <input type="text" class="form-control" name="accountId" id="field_accountId"
                        [(ngModel)]="transaction.accountId" required/>
                    <div [hidden]="!(editForm.controls.accountId?.dirty && editForm.controls.accountId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.accountId?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateTime">Date Time</label>
                    <div class="input-group">
                        <input id="field_dateTime" type="text" class="form-control" name="dateTime" ngbDatepicker  #dateTimeDp="ngbDatepicker" [(ngModel)]="transaction.dateTime"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateTimeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateTime?.dirty && editForm.controls.dateTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateTime?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descriptionID">Description ID</label>
                    <input type="text" class="form-control" name="descriptionID" id="field_descriptionID"
                        [(ngModel)]="transaction.descriptionID" required/>
                    <div [hidden]="!(editForm.controls.descriptionID?.dirty && editForm.controls.descriptionID?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descriptionID?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_memo">Memo</label>
                    <input type="text" class="form-control" name="memo" id="field_memo"
                        [(ngModel)]="transaction.memo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <select class="form-control" name="category" [(ngModel)]="transaction.category" id="field_category" >
                        <option value="RENT">RENT</option>
                        <option value="FOOD">FOOD</option>
                        <option value="INCOME">INCOME</option>
                        <option value="UTILITIES">UTILITIES</option>
                        <option value="SHOPPING">SHOPPING</option>
                        <option value="TRANSFER">TRANSFER</option>
                        <option value="AUTOMOTIVE">AUTOMOTIVE</option>
                        <option value="MISCELLANEOUS">MISCELLANEOUS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_moneyAccount">Money Account</label>
                    <select class="form-control" id="field_moneyAccount" name="moneyAccount" [(ngModel)]="transaction.moneyAccount" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="moneyAccountOption.id === transaction.moneyAccount?.id ? transaction.moneyAccount : moneyAccountOption" *ngFor="let moneyAccountOption of moneyaccounts; trackBy: trackMoneyAccountById">{{moneyAccountOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
