<div>
    <h2 id="page-heading">
        <!-- <span>Budget Items</span> -->
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-budget-item" [routerLink]="['/budget-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Budget Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="budgetItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Expected Spending</span></th>
            <th><span>Actual Spending</span></th>
            <th><span>Description</span></th>
            <th><span>Category</span></th>
            <th><span>Budget</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let budgetItem of budgetItems ;trackBy: trackId">
                <td><a [routerLink]="['/budget-item', budgetItem.id, 'view' ]">{{budgetItem.id}}</a></td>
                <td>{{budgetItem.expectedSpending}}</td>
                <td>{{budgetItem.actualSpending}}</td>
                <td>{{budgetItem.description}}</td>
                <td>{{budgetItem.category}}</td>
                <td>
                    <div *ngIf="budgetItem.budget">
                        <a [routerLink]="['../budget', budgetItem.budget?.id, 'view' ]" >{{budgetItem.budget?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/transaction']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
