<div>
    <h2 id="page-heading">
        <span>Current Budget</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-budget" [routerLink]="['/budget/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Budget
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <jhi-budget-progress-bar budgetExpected={{budgets[0].expectedTotal}} budgetActual={{budgets[0].actualTotal}} budgetCategory="Current spending for {{budgets[0].startDate | date: mediumDate}} to {{budgets[0].endDate | date: mediumDate}}."></jhi-budget-progress-bar>
    </br>
    <jhi-budget-modal-component></jhi-budget-modal-component>
    </br>
    <div class="table-responsive" *ngIf="budgets">
        <h3>Past Budgets</h3>
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Category</span></th>
            <th><span>Expected Total</span></th>
            <th><span>Actual Total</span></th>
            <th><span>Start Date</span></th>
            <th><span>End Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let budget of budgets ;trackBy: trackId">
                <td><a [routerLink]="['/budget', budget.id, 'view' ]">{{budget.id}}</a></td>
                <td>{{budget.expectedTotal}}</td>
                <td>{{budget.actualTotal}}</td>
                <td>{{budget.startDate | date:'mediumDate'}}</td>
                <td>{{budget.endDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="budget.userDetails">
                        <a [routerLink]="['../user-details', budget.userDetails?.id, 'view' ]" >{{budget.userDetails?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <jhi-budget-modal-component></jhi-budget-modal-component>
                        <button type="submit"
                                [routerLink]="['/budget', budget.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'budget/'+ budget.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            </br>
        </table>
    </div>
</div>
