<div>
    <h2 id="page-heading">
        <span>Bill Items</span>
        <!-- <label><span style="float:right"> search by month </span></label> -->
        <!-- <select class ="drop-down-list  float-right">
            <option value="January">Comcast</option>
            <option value="February">Peco</option>
            <option value="March">Hydro
            </option>
          </select> -->
          <select class ="drop-down-list  float-right">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
           
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
               
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
              
          </select>
        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bill-item" [routerLink]="['/bill-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Bill Item
            </span>
        </button> -->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>    
    <div class="table-responsive" *ngIf="billItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Company Name</span></th>
            <th><span>Due Date</span></th>
            <th><span>Payment Date</span></th>
            <th><span>Payment Amount</span></th>
            <th><span>Auto Pay</span></th>
            <th><span>Memo</span></th>
            <th><span>Bills</span></th>
            <th></th>
            </tr> 
            </thead>
           <!-- <input type="text" placeholder="companyname" ng-model="search.companyName" >-->
            <tbody>
            <tr *ngFor="let billItem of billItems ;trackBy: trackId">
                <td><a [routerLink]="['/bill-item', billItem.id, 'view' ]">{{billItem.id}}</a></td>
                <td>{{billItem.companyName}}</td>
                <td>{{billItem.dueDate | date:'mediumDate'}}</td>
                <td>{{billItem.paymentDate | date:'mediumDate'}}</td>
                <td>{{billItem.paymentAmount}}</td>
                <td>{{billItem.autoPay}}</td>
                <td>{{billItem.memo}}</td>            
                <td>
                    <div *ngIf="billItem.bills">
                        <a [routerLink]="['../bills', billItem.bills?.id, 'view' ]" >{{billItem.bills?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bill-item', billItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit" 
                        [routerLink]="['/bill-item', billItem.id, 'view' ]"
                        class ="btn btn-info btn-sm" >
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">Paid</span>

                        </button>
                        <!--- <button type="submit"
                                [routerLink]="['/bill-item', billItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bill-item/'+ billItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button> -->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
