<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="billItem">
            <h2><span>Bill Item</span> {{billItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{billItem.companyName}}</span>
                </dd>
                <dt><span>Due Date</span></dt>
                <dd>
                    <span>{{billItem.dueDate}}</span>
                </dd>
                <dt><span>Payment Date</span></dt>
                <dd>
                    <span>{{billItem.paymentDate}}</span>
                </dd>
                <dt><span>Payment Amount</span></dt>
                <dd>
                    <span>{{billItem.paymentAmount}}</span>
                </dd>
                <dt><span>Auto Pay</span></dt>
                <dd>
                    <span>{{billItem.autoPay}}</span>
                </dd>
                <dt><span>Bills</span></dt>
                <dd>
                    <div *ngIf="billItem.bills">
                        <a [routerLink]="['/bills', billItem.bills?.id, 'view']">{{billItem.bills?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bill-item', billItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
