<div class="row justify-content-center">
    
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">
                    <br>
                    Welcome back, {{account.login}}!<br><br><br>
                    <h3>Your snapshot for {{today | date}}:</h3>
                    <hr><br>
                </span>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <div>
                        <!-- Budget component -->
                        <jhi-budget-snapshot></jhi-budget-snapshot>
                    </div>
                </div>
            </div>
            <hr>
                <div class="row">
                    <div class="col-md-6" style="text-align: center">
                        <div style="text-align: left">
                            <h5>Most recent transactions:</h5>
                            <jhi-transaction-card></jhi-transaction-card>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: center">
                        <div style="text-align: left">
                            <h5>Upcoming bills:</h5>
                            <jhi-bill-snapshot></jhi-bill-snapshot>
                            <!-- Bills Component -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12" style="text-align: center">
                <br>
            <div *ngSwitchCase="false">
                <span class="logo img-fluid rounded" ></span>
                <p class="lead">A money management app created by Cohort 4.2 @ Zip Code Wilmington!</p>
                <span>Please,  </span>
                <a class="alert-link" (click)="login()">sign in</a>.
                <hr>
            </div>
            <br>
            <div *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
    </div>
</div>