<div class="row justify-content-center">
    <!--<div class="col-md-3">-->
        <!--&lt;!&ndash;<span class="hipster img-fluid rounded"></span>&ndash;&gt;-->
    <!--</div>-->
    <div class="col-md-6">
        <h1 class="display-4">Welcome to ZipMynt!</h1>
        <p class="lead">A money management app created by Cohort 4.2 @ Zip Code Wilmington!</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>

                <!-- Add Account Info here? -->
                <div>


                </div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Please,  </span>
                <a class="alert-link" (click)="login()">sign in</a>.
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
    </div>
</div>